@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --btn-clr: #ef5026;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: overlay;
  width: 100%;
}

.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .navigation {
  flex-basis: 20%;
}
.header .navigation .nav-bar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navigation .nav-bar .nav-bar-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-picture {
  height: 70vh;
  position: relative;
}

.header-picture img {
  width: 100%;
  height: 100%;
}

.header-picture .header-title {
  position: absolute;
  top: 10%;
  left: 28%;
}

.header-title .header-title-one {
  color: white;
  margin-bottom: 2px;
  font-size: 48px;
  font-weight: 200;
}
.header-title .header-title-two {
  color: white;
  margin: 0px;
  font-size: 52px;
}

.header-title .header-title-desc {
  color: white;
  padding: 0px;
  font-size: 13px;
}

.header-title .header-title-desc:nth-child(2) {
  width: 270px;
}

.header-title .header-button {
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #ff2d00;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 20px;
}

.dog-image {
  width: 650px;
  position: absolute;
  top: 70%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.dog-image img {
  width: 100%;
}

.second-section {
  text-align: center;
  margin-top: 160px;
}

.second-section .second-section-title {
  font-size: 34px;
  margin-bottom: 12px;
}

.second-section .second-section-desc {
  color: grey;
  max-width: 35vw;
  margin: 0 auto;
}

.second-section .actions {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.second-section .actions .action {
  border: 1px solid #ffd1ce;
  border-radius: 15px;
  width: 15vw;
  margin-right: 15px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.second-section .actions .action .background-image {
  margin-top: 30px;
}

.second-section .actions .action .action-image {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-section .actions .action .action-desc {
  color: grey;
}

.third {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 30px;
}

.third .third-image {
  width: 20vw;
}

.third .third-image img {
  width: 100%;
}

.third .third-info {
  flex-basis: 30%;
}

.third .third-info .title .third-title-one {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 0;
}

.third .third-info .title .third-title-two {
  font-size: 42px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.third .third-info .third-desc {
  width: 24vw;
}

.third .third-btn {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #ef5026;
  padding: 10px 29px;
  margin-top: 20px;
}

.fourth {
  background-image: url(images/cats-bg.png);
  width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 80px;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  color: white;
}

.fourth .fourth-title {
  font-size: 32px;
}

.fourth .fourth-desc {
  width: 23vw;
  margin: 0 auto;
}

.fourth .contact-form {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.fourth .contact-form .contact-form-btn {
  background-color: white;
  color: var(--btn-clr);
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
}

.fourth .contact-form p {
  margin: 0;
  font-size: 12px;
}

.fourth .contact-form .contact-us-p.tele {
  font-weight: bold;
}

footer {
  margin-bottom: 80px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
}

.footer-wrapper .footer-elements {
  padding: 0;
  list-style: none;
}

.footer-wrapper .footer-element .footer-elements-element {
  line-height: 2;
  color: grey;
}

.footer-wrapper .footer-element {
  margin-right: 8vw;
}

.footer-element-title {
  margin-top: 0;
}
